@model Consultation
<div class="text-center">
    <h3>Реєстрація успішна!</h3>
    <p>Ім'я: @Model.Name</p><br />
    <p>Пошта: @Model.Email</p><br />
    <p>Дата: @Model.Date.ToShortDateString()</p><br />
    <p>Предмет: @Model.Subject</p>
</div>
